body {
    background-color: rgba(132, 91, 61, 0.86);
    background-image: url("../images/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.flex-container {
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.flex-item {

    background-color: #ad8359;
    border-radius: 30px;
    border: 5px solid var(--active_background);

    flex: 1 1 100%;
    max-width: 45%;

    h2 {
        padding-top: 3%;
        text-align: center;
        font-size: 2rem;
        color: #e6ab09;
        text-shadow: 3px 3px 2px var(--text_shadow_h1);;
    }
    
    table  {
        margin: 5%;
        margin-top: 1%;
        font-family: 'Roboto', sans-serif;
        width: 90%;
        padding: 10px;
        border-collapse: collapse;
    }

    th {
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    
    td {
        border-bottom: 3px solid rgb(150, 56, 56);
        max-width: 200px;
    }
    
    td:first-child, th:first-child {
        text-align: left;
    }
    
    td:last-child, th:last-child {
        text-align: right;
    }
    
    td:last-of-type::after {
        content: ' RP';
    }

    strong {
        color: #893b3b;
        font-size: 1.3em;
        text-shadow: 1px 1px 1px var(--text_shadow_color);
    }
    
    p {
        color:rgb(1, 12, 9)
    }
}

@media (max-width: 768px) {
    .flex-container{
        margin-top: 0px;
        gap: 0px;
    }
    .flex-item {
        border: 0px;
        max-width: 100%;
        border-radius: 0px
    }
}